{% include 'delivery/header.html' %}
{% load static %}
<body>
  <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>

  <main id="panel" class="panel">
    <header class="panel-header">
      <button class="btn-hamburger js-slideout-toggle"></button>
      <h1 class="title">Herbology</h1>
    </header>

    <section class="box">
      <h2 class="box-title">Locate Us</h2>
      <div id="mocha" class="box-content">
        <div id="map"></div>
        <script>
          function initMap() {
            var uluru = {lat: 1.331508, lng: 103.869083};
            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15,
              center: uluru
            });
            var marker = new google.maps.Marker({
              position: uluru,
              map: map
            });
          }
        </script>
        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPpHkNfwQ28XkrciGCnDoaTAcoU7cho9I&callback=initMap">
        </script>
      </div>
    </section>

    <footer class="panel-footer">
      <p>with <span class="heart">❤</span> by <a href="{% url 'home:home' %}">Herbology</a></p>
    </footer>
  </main>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/mocha/1.13.0/mocha.min.js"></script>
  <script>
      mocha.setup('bdd');
      var exports = null;
      function assert(expr, msg) {
        if (!expr) throw new Error(msg || 'failed');
      }
  </script>
  <script src="{% static 'slideout-1.0.1/test/test.js' %}"></script>
  <script>
    window.onload = function() {
      document.querySelector('.js-slideout-toggle').addEventListener('click', function() {
        slideout.toggle();
      });

      document.querySelector('.menu').addEventListener('click', function(eve) {
        if (eve.target.nodeName === 'A') { slideout.close(); }
      });

      //var runner = mocha.run();
    };
  </script>

</body>