{% include 'shop/header.html' %}
{% load static %}

<script type="text/javascript" src="{% static 'shop/shop.js' %}"></script>

<link rel="stylesheet" href="{% static 'shop/shopstyle.css' %}">
<body>

    <header class="fixed-header">
        <button class="btn-hamburger js-slideout-toggle"></button>
    </header>

    <main id="panel" class="panel">
    <header class="panel-header">
      <h1 class="title">Herbology</h1>
    </header>

    <div class="fullwidth slick-slider js-slick">
        <div class="carousel-item">
            <div class="photo is-animating" style="background-image: url('/static/shop/image/cheese_1280x800.jpg')"></div>
            <div class="photo is-animating" style="background-image: url('/static/shop/slideout-1.0.1/test/assets/burgerIcon.png')"></div>
            <div class="photo is-animating" style="background-image: url('/static/shop/slideout-1.0.1/test/assets/menu.png')"></div>
        </div>
    </div>

    <footer class="panel-footer">
      <p>with <span class="heart">❤</span> by <a href="{% url 'home:home' %}">Herbology</a></p>
    </footer>
  </main>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/mocha/1.13.0/mocha.min.js"></script>
  <script>
      mocha.setup('bdd');
      var exports = null;
      function assert(expr, msg) {
        if (!expr) throw new Error(msg || 'failed');
      }
  </script>
  <script src="{% static 'shop/slideout-1.0.1/test/test.js' %}"></script>

</body>