{% include 'shop/header.html' %}
{% load static %}

<body>

    <main id="panel" class="panel">
    <header class="panel-header">
      <button class="btn-hamburger js-slideout-toggle"></button>
      <h1 class="title">Herbology</h1>
    </header>

    <section class="box">
      <h2 class="box-title">Locate Us</h2>
      <div id="mocha" class="box-content">
        <div id="map"></div>
      </div>
    </section>

    <footer class="panel-footer">
      <p>with <span class="heart">❤</span> by <a href="{% url 'home:home' %}">Herbology</a></p>
    </footer>
  </main>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/mocha/1.13.0/mocha.min.js"></script>
  <script>
      mocha.setup('bdd');
      var exports = null;
      function assert(expr, msg) {
        if (!expr) throw new Error(msg || 'failed');
      }
  </script>
  <script src="{% static 'slideout-1.0.1/test/test.js' %}"></script>
  <script>
    window.onload = function() {
      document.querySelector('.js-slideout-toggle').addEventListener('click', function() {
        slideout.toggle();
      });

      document.querySelector('.menu').addEventListener('click', function(eve) {
        if (eve.target.nodeName === 'A') { slideout.close(); }
      });

      //var runner = mocha.run();
    };
  </script>

</body>